API_URL=http://localhost:3000

DATABASE_URL=postgresql://user:password@localhost/db_name

GOOGLE_GENERATIVE_AI_API_KEY=your-key-from-ai-studio
ANTHROPIC_API_KEY=your-anthropic-api-key
OPENAI_API_KEY=your-openai-api-key

CLERK_FRONTEND_API=your-clerk-frontend-api
CLERK_OAUTH_CLIENT_SECRET=your-clerk-oauth-client-secret
CLERK_OAUTH_CLIENT_ID=your-clerk-oauth-client-id
CLERK_PUBLISHABLE_KEY=your-clerk-publishable-key
CLERK_SECRET_KEY=your-clerk-secret-key
JWT_SECRET=your-jwt-secret